<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.popularmovies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activities.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activities.MovieActivity"
            android:parentActivityName=".view.activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.popularmovies.view.activities.MainActivity" />
        </activity>
        <activity android:name=".view.activities.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.android.popularmovies.view.activities.MainActivity" />
        </activity>

        <provider
            android:authorities="com.example.android.popularmovies"
            android:name="com.example.android.popularmovies.data.MoviesContentProvider"
            android:exported="false" />

        <service android:name=".sync.FetchMoviesIntentService"
            android:exported="false" />

        <service android:name=".sync.FetchMovieDetailsIntentService"
            android:exported="false" />
    </application>

</manifest>